body {
    background-color: #036268;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: 5px solid white;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: 2%;
}

p {
    text-align: center;
}

.time {
    width: 5%;
    text-align: center;
}

form {
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    background-color: white;
    padding: 2%;
}

#start {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 3%;
}

button {
    text-align: center;
}

.btn-area {
    text-align: center;
    margin-top: 2%;
}